@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v5/7XUFZ5tgS-tD6QamInJTceHuglUR2dhBxWD-q_ehMME.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'), url(https://fonts.gstatic.com/s/titilliumweb/v5/anMUvcNT0H1YN4FII8wpr6d1JQt-lS5nD-1TJX2NNl0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url(https://fonts.gstatic.com/s/titilliumweb/v5/anMUvcNT0H1YN4FII8wpr8hG3LOB74UqS1hPmWaAxzQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* My rules */
html {
  font-size: 16px;
  font-family: 'Titillium Web';
}

body {
  line-height: 1.2;
}

h1 {
  font-family: 'Titillium Web Bold';
  font-size: 2.5rem;
}

/* Header */
header {
  height: 2rem;
  background-color: #E8C547;
  padding: 1rem 1.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer,
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 2rem;
}

.logo h1 {
  font-size: 2rem;
}

.logo span {
  font-family: 'Titillium Web SemiBold';
  color: #011936;
}

#Academy {
  color: #FFFFFF;
}

nav {
  display: flex;
  justify-content: center;
  margin-right: 24px;
  float: right;
}

a {
  display: inline;
  color: #FFFFFF;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 0 1rem;
}

a:hover,
nav a:hover {
  color: #F06543;
  transition: 300ms ease-in 250ms;
}

.mobile {
  display: none;
}

/* Intro */
.banner {
  background-color: #FFFFFF;
}

.main-image {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
}

.main-image img,
.main-image video {
  width: 100%;
}

.banner-text {
  padding: 0 1.5rem;
  max-width: 40%;
}

.banner h1 {
  color: #508070;
}

.banner-text p {
  font-size: 1.5rem;
}

.button {
  margin-top: 1rem;
  border: 2px solid #508070;
  border-radius: 8px;
  background-color: #508070;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
  padding: 0.5rem 0;
  text-align: center;
}

.button:hover {
  background-color: #F06543;
  box-shadow: 0 12px 16px 0 rgba(200,0,90,0.24);
}

.button:visited {
  background-color: #F06543;
  opacity: 0.6;
}

.button a {
  color: #FFFFFF;
}

/* Information section */

.information {
  background-color: #F06543;
  flex-direction: row;
  align-items: flex-start;
}

.description {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.description h1,
.description p,
.description h6 {
  color: #FFFFFF;
  width: 100%;
}

.description h1,
.description p {
  padding-bottom: 1.5rem;
}

.description h6 {
  font-size: 0.9rem;
}

/* Sidebar section */
.sidebar {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 1rem;
}

.small-image {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.small-image img{
  max-width: 35%;
  max-height: auto;
}

.caption-text {
  color: #FFFFFF;
  padding-left: 1rem;
  text-align: center;
}

.caption-text h2 {
  font-size: 1.5rem;
}

.caption-text h2,
.caption-text p {
  padding-bottom: 0.5rem;
}

.caption-text a {
  font-size: 1.1rem;
  padding: 0 0;
  color: #011936;
}

.caption-text a:hover {
  color: #FFFFFF;
  transition: 150ms linear 200ms;
}

/* Learning section */
section mobile {
  display: none;
}

.learning {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4.5rem;
  background-color: white;
}

.learning h1 {
  color: #011936;
  padding-bottom: 2rem;
}

.courses {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #011936;
  max-width: 30%;
  margin-bottom: 2rem;
  background-color: GhostWhite;

}
.course img {
  height: auto;
  width: 100%;
}

.caption-text h3 {
  font-size: 1.5rem;
  padding-top: 1rem;
  color: #F06543;
}

h4 {
  padding: 0.5rem 0;
}

#Blue {
  text-align: left;
  padding-right: 1.5rem;
}

#Blue p,
#Blue h4 {
  color: #011936;
}

#thesis {
  background-color: #08415C;
}

#thesis .sidebar {
  padding-top: 5rem;
}

#thesis h1 {
  color: #FFFFFF;
}

footer {
  padding: 1rem 1.5rem;
  color: #011936;
  justify-content: space-between;
}

nav a {
  color: #011936;
  font-size: 1rem;
}

nav a:visited {
  opacity: 0.2;
}

@media only screen and (max-width: 470px){

.container {
  margin: 0 auto;
  flex-direction: column;
}
.desktop {
  display: none;
}

.mobile {
  display: flex;
}

/* NAV BAR */
nav {
  margin: 0 auto;
  align-items: center;
  float: none;
  justify-content: space-between;
}

.mobile img {
justify-content: space-between;
}

.main-image {
  padding: 0rem;
  max-width: 100%;
}
.banner-text {
  padding: 2rem 1rem;
  max-width: 100%;
  text-align: center;
}

.banner-text h1 {
  padding-bottom: 2rem;
}

.banner-text p {
  padding-bottom: 1.5rem;
}

.button {
  margin: 1.5rem 0 2rem;
}

/* Information section */
.sidebar {
  display: flex;
  width: 100%;
  padding-top: 1rem;
}

.small-image {
  display: flex;
  flex-direction: column;
}

.small-image img{
  max-width: 100%;
  max-height: auto;
}

.caption-text {
  width: 100%;
  padding-left: 2rem;
  text-align: left;
  padding-bottom: 4rem;
  padding-top: 1rem;
}

/* Learning section */
.learning {
  padding: 1rem 0rem;
}

.learning h1 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: #508070;
}

.learning a {
  color: #011936;
  font-size: 1.5rem;
  font-family: 'Titillium Web';
  width: 100%;
}

.learning a:visited {
  color: #011936;
}

ul {
  margin-bottom: 2rem;
}

ul li {
  padding: 1rem 1rem 1.5rem 1rem;
}

ul li:nth-child(2n + 1) {
  border: 2px solid #011936;
}

ul li:nth-child(2n + 2) {
  background-color: GhostWhite;
}

/* Thesis section */
#thesis .sidebar {
  display: none;
}
#thesis h1 {
  padding-bottom: 1rem;
  padding-top: 2rem;
}

footer {
  padding: 2.5rem 0 1rem 1rem;
}
